/* Import Google font - Poppins */
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}*/
.AddPack{
  align-items: center;
}
.leader {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: url("https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80");
  background-size: cover;
}
.container {
  position: relative;
  max-width: 50vw;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px gray;
}
.header {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  text-align: center;
}
.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.inputbox {
  /*width: 100%;*/
  margin-top: 20px;
 
}
.label {
  color: #333;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.inputf{
  position: relative;
  height: 50px;
  display: flex;
  min-width: 60%;
 /* width: 100%;*/
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  margin-bottom: 2vh;
}
.input {
  position: relative;
  height: 50px;
  display: flex;
  min-width: 50%;
 /* width: 100%;*/
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  margin-bottom: 2vh;
  margin-right: 4vw;

}
.inputi{
  margin-bottom: 2vh;
}
.input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.button{
  padding: 1.25vh;
  border: none;
  margin-right: 2vw;
  border-radius: 1vh;
  background-color: lightblue;
}

button{
  padding: 1.25vh;
  border: none;
  margin-right: 2vw;
  border-radius: 1vh;
}

.rep:not(.form){
  width: 60%;

  background-color: #ffffff;
}

textarea{
width: 150%;
}

input{
  margin-top: 15px;
  margin-right: 2vw;
}


/*.column {
  display: flex;
  column-gap: 15px;
}
.genderbox {
  margin-top: 20px;
}
.h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.genderoption, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.gender {
  column-gap: 5px;
}
.genderin {
  accent-color: rgb(130, 106, 251);
}
.form :where(.genderin, .genderla) {
  cursor: pointer;
}
.genderla {
  color: #707070;
}
.address :where(input, .selectbox) {
  margin-top: 15px;
}
.selectbox select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}*/
/*Responsive*/
/*@media screen and (max-width: 500px) {
  .form {
    flex-wrap: wrap;
  }

}*/
