.check{
    padding-top: 20rem;
    display: flex;
    justify-content: center;

}
#leader{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background :url('../public/images/img-6.jpg');
    background-position:center ;
    background-size: cover;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    height: 100vh;

}
.size{
    margin:0.5rem 0;
    border:none;
    background-color:lightgrey;
    padding: 25px;
    border-radius: 38px;
    cursor: pointer;
    margin-right: 30px;
    font-size: 30px;
}

    
    
    /*height:100vh;
    width: 100vw;*/
.navlinks{
    display: none;
}